
body {
    margin: 0;
    font-family: sans-serif;
  }
  
  header {
    background-color: #ffd580;
    padding: 40px 0;
  }
  
  .header-content {
    display: flex;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
  }
  
  .cuadro.grande.amarillo {
    width: 100px;
    height: 100px;
    background-color: #ffcc66;
  }
  
  .texto-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  h1.barra.naranja {
    width: 150px;
    height: 20px;
    background-color: #ffa64d;
    margin: 0;
  }
  
  .linea.blanca {
    width: 250px;
    height: 10px;
    background-color: white;
    margin: 0;
  }
  
  .linea.blanca.corta {
    width: 150px;
    height: 10px;
    background-color: white;
    margin: 0;
  }
  main {
    padding: 40px 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .tarjeta {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: 12px;
  }
  
  .tarjeta::before {
    content: "";
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
  }
  
  
  .celeste {
    background-color: #b2ebf2;
  }
  
  .roja {
    background-color: #ff8a65;
  }
  
  .amarilla {
    background-color: #ffd54f;
  }
  
  
  footer {
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    margin-top: 40px;
  }
  
  .footer-column {
    width: 200px;
    height: 100px;
    background-color: #ccc;
    border-radius: 8px;
  }